.field-dropdown{ 
    position: relative;   
    border-radius: rem(4px); 
    color: $primary-color--75;
    border: 1px solid #{$primary-color--25};
    &__header{
        display: flex;
        justify-content: space-between ;
        height: rem(42px);
        line-height: rem(42px);         
    }
    &__title{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;     
        padding-left:rem(15px);   
        text-align: left;        
    }
   
    &__icon{
        margin:auto 0;
        margin-right: rem(10);
        &::before{
            content:"expand_more";
        }
        
    }
    &--expand{
        border-color:$primary-color--50;
        border-bottom: 0;
        border-radius:rem(4) rem(4) 0 0        
    } 
    &--expand &__content{
        border-top: 1px solid #{$primary-color--50};
        
    }
    &__content{
        background-color: white;
        position: absolute;
        top:rem(42px);
        border: 1px solid #{$primary-color--50};
        border-radius: 0 0 rem(4) rem(4);
        margin: 0 -1px;
        z-index: 100;
        display: flex;
        flex-wrap: wrap;    
        width: calc(100% + 2px);
        padding: #{rem(7px)} #{rem(7px)} #{rem(14px)} #{rem(14px)};  
        box-sizing: border-box;
    }
    &__footer{
        margin-top: rem(20px);
        width: 100%;
        align-self:flex-end;
        display: flex;
        justify-content: space-between;
         .cancel{
            transition: opacity 600ms;
            background-color: inherit;
            color:$primary-color--50;
        }
         .assept{
            transition: opacity 600ms;
             color:$purple-color;
             background-color: inherit;
         }
    }
    &__error{      
         position: relative;
            &::before{
                content:'введите дату в формате дд.мм.гггг';
                line-height: rem(10px);
                position: absolute;
                left :0;
                top:0;
                transform: translateY(-100%);
                color:red;
                font-size: rem(8px)
            }
     }

    
}

