include ../../components/dropdown/dropdown
include ../../components/counter/counter
+dropdown(" 0 гостей",false)(class='dropdown--counter-list')
    +counter("Взрослых","",1,3)
    +counter("Детей","kids",0,4)
    +counter("Младенцев","babys",0,10)