include ../../components/dropdown/dropdown
include ../../components/counter/counter
+dropdown("Сколько гостей")(class='dropdown--counter-plus')
    +counter("Взрослых","adult",1,3)
    +counter("Детей","kids",0,4)
    +counter("Младенцев","babys",0,10)