.pagination
    .pagination__items
        .pagination__item.pagination__item--prev.material-icons 
        .pagination__item.pagination__item--select 2
        .pagination__item 3
        .pagination__item.pagination__item--separator ...
        .pagination__item 15
        .pagination__item.pagination__item--next.material-icons
    .pagination__title 1 – 12 из 100+ вариантов аренды