mixin pagination()    
    .pagination
        .pagination__list
        .pagination__title 1 – 12 из 100+ вариантов аренды

//- ul.pagination__items
//-     .pagination__item.pagination__item--prev.material-icons 
//-     li.pagination__item.pagination__item--select 2
//-     li.pagination__item 3
//-     li.pagination__item.pagination__item--separator ...
//-     li.pagination__item 15
//-     .pagination__item.pagination__item--next.material-icons