.pagination{
    a{
        color:inherit;
        text-decoration: none;
    }
    display: inline-block;
    
    &__items,&__list{
        display: flex;
    
    }
    &__items{
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item,&__btn,&__separator{
        min-width: rem(40px);
        height: rem(40px);
        text-align: center;
        line-height: rem(40px);
        color:$primary-color--50;

        &--current{
            color:white;
            background: $primary-gradient;
            border-radius:50%;
        }
        &--next{
            position: relative;
            color:white;
            border-radius:50%;
            background: $second-gradient;  
                &::before{
                    content: "arrow_forward";
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%)
                }
            
        }
        &--prev{
            position: relative;
            color:white;
            border-radius:50%;
            background: $second-gradient;
                &::before{
                    content: "arrow_back";
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%)
                }
            
        }
        
        
    }
    &__title{
        font-size: rem(12px);
        text-align: center;
        color:$primary-color--75;
    }
}