include ../../../components/roomprice/roomprice.pug
include ../../../components/rate/rate.pug
mixin cardRoom(room)
    .card.card-room
        .card__item.card-room__slider.owl-carousel
            each val,index in room.imgs
                .card-room__slider__item
                    img(src=val, alt="")
        .card__item.card-room__description  
            +roomprice(room.number,room.price,room.category) 
            .card-room__footer 
                +rate(room.rate||"5",room.rateRoom)
                .card-room__review
                    span.card-room__review__num #{room.review}
                    | отзывов
