.logotype{
    display: flex;
    &__link{
        display:flex;
    }

    &__logo{
        @include size(rem(40));
        margin:auto 0;
    }
    &__companyName{
        margin:auto rem(12);
        width: rem(54); 
        
    }
}