include ../../components/dropdown/dropdown
include ../../components/counter/counter
+dropdown("2 спальни,2 кровати,0 ванных комнат")(class='dropdown--counter-list')
    +counter("спальни","rooms",1,3)
    +counter("кровати","bads",1,4)
    +counter("ванные комнаты","bathrooms",0,2)