mixin btn(title,href)
    button.button.h3&attributes(attributes)
        if href
            a.button__link(href=href)
                span.button__title= title
                i(class='material-icons button__icon')
                .button__border
        else
             span.button__title= title
                i(class='material-icons button__icon')
                .button__border