$fontColor:white;
$buttonHeight:40px;
$buttonBorder:2px;
.button{  
    display: block;
    width: 140px;
    font-family: $mainFont;
    font-weight: bold;
    text-decoration: none;
    height: $buttonHeight;
    line-height: $buttonHeight;
    position: relative;
    text-align: center;
    border:0px solid transparent;
    border-radius:$buttonHeight/2;
    font-size: 12px;                 
    text-transform: uppercase; 

    
      &::before{
          content:"";
          position: absolute;
          z-index: -1;
          height: $buttonHeight + $buttonBorder*2;
          width:calc(100% + #{$buttonBorder}*2);
          border:0px solid transparent;
          border-radius: ($buttonHeight + $buttonBorder*2)/2;
          left:-($buttonBorder);
          top:-($buttonBorder);
          background: linear-gradient(to bottom,$purple-color, #8ba3f9 ) ;

      }
//  Modification  
      &--arrow{
        i{
            position: absolute;
            vertical-align: middle;
            text-align: end;
            right: ($buttonHeight - 24px) /2; //8px;
            top:calc(50%-12px);        
              &::after{
                  content: "arrow_forward"
              }
        }
      }
           &--border{
          background: $backgroundColor;
          color:$purple-color;
        }  
    }