// Fonts here
//Quicksand bold
@font-face {
	font-family: 'Conv_Quicksand-Bold';
	src: url('fonts/Quicksand-Bold.eot');
	src: local(), url('fonts/Quicksand-Bold.woff') format('woff'), url('fonts/Quicksand-Bold.ttf') format('truetype'), url('fonts/Quicksand-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
//Montserrat normal bold