.pie-chart
    .pie-chart__diagram
        .pie-chart__votes
            span.pie-chart__votes__num 
            span.pie-chart__votes__text голосов
    ul.pie-chart__legend
        li.pie-chart__legend__item Великолепно
        li.pie-chart__legend__item Хорошо
        li.pie-chart__legend__item Удовлетворительно
        li.pie-chart__legend__item Разочарован

        
