.pie-chart
    .pie-chart__diagram
        .pie-chart__votes
            span.pie-chart__votes__num 150
            span.pie-chart__votes__text голосов
    svg(style="width: 230px; height: 230px")
        path(fill="#61C0BF" d="M115,115 L115,0 A115,115 1 0,1 150.53695435311894, 224.37149937394264 z" transform="rotate(0, 115, 115)")
        path(fill="#DA507A" d="M115,115 L115,0 A115,115 1 0,1 226.38706352979256, 86.40066297604167 z" transform="rotate(162, 115, 115)")
        path(fill="#BB3D49" d="M115,115 L115,0 A115,115 1 0,1 188.30375882109934, 26.39097708078422 z" transform="rotate(237.6, 115, 115)")
        path(fill="#DB4547" d="M115,115 L115,0 A115,115 1 0,1 229.09319065116495, 100.58667814010502 z" transform="rotate(277.2, 115, 115)")
        circle(cx="115" cy="115" r="92" fill="#ffffff")

    svg(style="width: 250px; height: 250px")
        path(fill="none" stroke="#61C0BF" stroke-width="6" d="M115,0 A115,115 1 0,1 150.53695435311894, 224.37149937394264 " transform="rotate(0, 115, 115)")
        path(fill="#DA507A" d="M115,115 L115,0 A115,115 1 0,1 226.38706352979256, 86.40066297604167 z" transform="rotate(162, 115, 115)")
        path(fill="#BB3D49" d="M115,115 L115,0 A115,115 1 0,1 188.30375882109934, 26.39097708078422 z" transform="rotate(237.6, 115, 115)")
        path(fill="#DB4547" d="M115,115 L115,0 A115,115 1 0,1 229.09319065116495, 100.58667814010502 z" transform="rotate(277.2, 115, 115)")
        //- circle(cx="115" cy="115" r="92" fill="#ffffff")