.field-dropdown.field-dropdown--expand    
    .field-dropdown__title Сколько гостей
    i.material-icons.field-dropdown__icon
    .field-dropdown__content ccoocococo
        .field-dropdown__content-footer
            span.h3.cancel Очистить
            span.h3.assept Применить
        