div.field__wrapper
    input(class= 'field field__input-text' type="text" placeholder='E-mail')
    i(class="material-icons field__icon field__icon--arrow-right")
   

.field.field--dropdown.field__wrapper
    .field__text Сколько гостей
    i(class="material-icons field__icon field__icon--down")


    
