.field-dropdown
    .field-dropdown__up
        .field-dropdown__text Сколько гостей
        .field-dropdown__icon.material-icons
    .field-dropdown__down.hidden
        include ../counter/counter.pug