.field-dropdown
    .field-dropdown__header
        input.field-dropdown__date(type="text")
        i.material-icons.field-dropdown__icon
    .field-dropdown__content 
        include ../calendar/calendar.pug
        .field-dropdown__content-footer
            span.h3.cancel Очистить
            span.h3.assept Применить

.field-dropdown 
    .field-dropdown__header
        .field-dropdown__title Выберите даты
        i.material-icons.field-dropdown__icon
    .field-dropdown__content ccoocococo
        .field-dropdown__content-footer
            span.h3.cancel Очистить
            span.h3.assept Применить

.field-dropdown.field-dropdown--expand    
    .field-dropdown__title Ещё что-то
    i.material-icons.field-dropdown__icon
    .field-dropdown__content ccoocococo
        .field-dropdown__content-footer
            span.h3.cancel Очистить
            span.h3.assept Применить