mixin text-field(placeholder)    
    .field-text
        input(class= 'field-text__input-text' type="text" placeholder=placeholder)
        i(class="material-icons field-text__icon ")
   



    
