.input{
    width: 247px;
    height: 40px;
    border: 1px solid #{$primary-color--25};//$primary-color--25
    border-radius: 4px;
    padding-left: 15px;
    color: $primary-color--25;
    font-family: $mainFont; 

    @include  placeholder{
        color: $primary-color--25;
        font-family: $mainFont;
    };
        &:hover, &:focus{
            border: 1px solid #{$primary-color--50};
            outline: none;
            @include  placeholder{
                color: $primary-color--75;
                font-family: $mainFont;
                
            };
        }
        
    
}
.subscrtext{
    display: inline-block;

   position: relative;
    i{
        position: absolute;
        top:calc(50%-12px);
        right: 10px;
        color: $purple-color;
        &:after{
          content:'arrow_forward';
    }

    }
}

