.rate
    i.material-icons.rate__item.rate__item--star
    i.material-icons.rate__item.rate__item--star
    i.material-icons.rate__item.rate__item--star-half
    i.material-icons.rate__item.rate__item--star-border
    i.material-icons.rate__item.rate__item--star-border