label
    input(type="radio", name="radio1" ,class="radiobutton__input")
    .radiobutton
        .radiobutton__icon 
label 
    input(type="radio", name="radio1" ,class="radiobutton__input")
    .radiobutton
        .radiobutton__icon
label
    input(type="radio", name="radio1" ,class="radiobutton__input")
    .radiobutton
        .radiobutton__icon