.radiobutton{
     
    display: flex;
    
    &__label{

        display: flex;
    }
    &__btn{
        margin:auto;
        position: relative;
        box-sizing: border-box;
        @include size(rem(20));
        border: 1px solid #{$primary-color--25};
        border-radius: 50%;
    }    
    
       
    &__icon{
        @include size(rem(12));
        background: transparent;
        border-radius: 50%;
        position: absolute;
        top:50%;
        transform: translate(-50%,-50%);
        left:50%;
                 
    }
    
    &__input{
        height: 0;
        width: 0;
        position: absolute;           
        &:checked~.radiobutton__btn{
                border-color:$purple-color;                
        
             .radiobutton__icon{
                background: $primary-gradient ;
            }
        }
        &:checked~.radiobutton__title{
            color:$primary-color--75;
        }
    }
    &__title{
        margin: auto 0 auto rem(10px);
        color:$primary-color--50;
    }
}
