mixin radiobutton(title,name)
    each val in title
        .radiobutton
            label.radiobutton__label
                input(type="radio", name=name ,class="radiobutton__input")
                .radiobutton__btn
                    .radiobutton__icon
                .radiobutton__title= val 