mixin radiobutton(title,name)
    each val in title
        .radiobutton
            label.radiobutton__label
                input(type="radio", name=name ,class="radiobutton__input")
                span.radiobutton__btn
                    span.radiobutton__icon
                span.radiobutton__title= val 