.radiobutton{
     
    display: flex;
    
    &__label{

        display: flex;
    }
    &__btn{
        margin:auto;
        position: relative;
        box-sizing: border-box;
        height: 20px;
        width: 20px;
        border: 1px solid #{$primary-color--25};
        border-radius: 50%;
    }    
    
       
    &__icon{
        width: 12px;
        height: 12px;
        background: $primary-color--25;
        border-radius: 50%;
        position: absolute;
        top:calc(50%-6px);
        left:calc(50%-6px);
                 
    }
    
    &__input{
        height: 0;
        width: 0;
        position: absolute;           
        &:checked~.radiobutton__btn{
                border-color:$purple-color;                
        
             .radiobutton__icon{
                background: linear-gradient(to bottom,$purple-color, #8ba3f9 ) ;
            }
        }
        &:checked~.radiobutton__title{
            color:$primary-color--75;
        }
    }
    &__title{
        margin: auto 0 auto 20px;
        color:$primary-color--50;
    }
}
