-let twitter = require("./img/svg/twitter.svg");
-let facebook = require("./img/svg/facebook.svg");
-let instagram = require("./img/svg/instagram.svg");
include ../../components/text-field/text-field.pug
include ../../components/logotype/logotype.pug
footer.footerWidget
    .footerWidget__blocks
        .footerWidget__block
            +logotype()
            .footerWidget__block__text.footerWidget__block__item Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        .footerWidget__block
            .footerWidget__block__title Navigation
            ul.footerWidget__block__nav 
                li.footerWidget__block__nav__link.footerWidget__block__item
                    a(href="#") About us
                li.footerWidget__block__nav__link.footerWidget__block__item
                    a(href="#") News
                li.footerWidget__block__nav__link.footerWidget__block__item
                    a(href="#") Support
                li.footerWidget__block__nav__link.footerWidget__block__item
                    a(href="#") Products
        .footerWidget__block
            .footerWidget__block__title About us
            ul.footerWidget__block__nav 
                li.footerWidget__block__nav__link.footerWidget__block__item
                    a(href="#") Who we are
                li.footerWidget__block__nav__link.footerWidget__block__item
                    a(href="#") Our team
                li.footerWidget__block__nav__link.footerWidget__block__item
                    a(href="#") Careers
                li.footerWidget__block__nav__link.footerWidget__block__item
                    a(href="#") Investors
        .footerWidget__block
            .footerWidget__block__title Support
            ul.footerWidget__block__nav 
                li.footerWidget__block__nav__link.footerWidget__block__item
                    a(href="#") Documentation
                li.footerWidget__block__nav__link.footerWidget__block__item
                    a(href="#") Community
                li.footerWidget__block__nav__link.footerWidget__block__item
                    a(href="#") Get in Touch
        .footerWidget__block
             .footerWidget__block__title Subscribe to our newsletter
             .footerWidget__block__text.footerWidget__block__item Receive our latest news and promotions in your inbox!
             form.footerWidget__block__item(action="", method="get")
                +text-field("e-mail","e-mail",true)


    .footerWidget__footer
        .footerWidget__footer__copyrigth  Copyright &copy; 2018 Toxin UI Kit. All rights reserved.
        .footerWidget__socialIcon
            a.footer__socialIcon__link(href="#")
                img(src=twitter, alt="twitter")
            a.footer__socialIcon__link(href="#")
                img(src=facebook, alt="facebook")
            a.footer__socialIcon__link(href="#")
                img(src=instagram, alt="instagram")
           
        