.footer{
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    padding: rem(100) 0;
    text-align: center;

    background-color: white;
    max-width: $maxWidth;
    margin: 0 auto;
    
     &__socialIcon, .logotype{
        display: inline-flex;
        margin: 0 auto;
    }
    .logotype{
        margin-bottom: rem(20);
    }
    &__text{
        width: rem(560);
        margin: 0 auto;
    }
    &__socialIcon{
        margin-top:rem(25);
        margin-bottom: rem(10);
        &__link:not(:last-child){
            margin-right: rem(20);
        }

    }

}
.footerWidget{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    max-width: $maxWidth;
    margin: 0 auto;
    &__blocks{
        display: flex;
        justify-content: space-between;
        padding:rem(100) rem(140);
        @media screen and (max-width: $desktopWidth){
            padding: rem(70) rem(100)
        }
        @media screen and (max-width: $tableWidth ){
            padding: rem(30);
        }



    }
    &__block{
        max-width: 25%;
        &:not(:last-child){
            margin-right:rem(20) 
        }
        &__title{
            font-weight: bold;
        }
        &__item{
            margin-top:rem(20);         
        }
        &__nav{
            color:$primary-color--50;
            a{
                color:inherit;
            }
        }
    }
    &__footer{
        display: flex;
        justify-content: space-between;
        padding: rem(25) rem(140);
        border-top:1px solid $primary-color--50;
        @media screen and (max-width: $desktopWidth){
            padding: rem(20) rem(100)
        }
        @media screen and (max-width: $tableWidth ){
            padding: rem(15);
        }
       
    }
    // &__socialIcon{

    // }
}