-let twitter = require("./img/svg/twitter.svg");
-let facebook = require("./img/svg/facebook.svg");
-let instagram = require("./img/svg/instagram.svg");
include ../../components/text-field/text-field.pug
include ../../components/logotype/logotype.pug
footer.footerWidget
    .footerWidget__blocks
        .footerWidget__logo
            +logotype()
            .footerWidget__block__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footerWidget__block
            .footerWidget__block__title Навигация
            ul.footerWidget__block__nav 
                li.footerWidget__block__nav__link
                    a(href="#") О  нас
                li.footerWidget__block__nav__link
                    a(href="#") Новости
                li.footerWidget__block__nav__link
                    a(href="#") Служба поддержки
                li.footerWidget__block__nav__link
                    a(href="#") Услуги
        .footerWidget__block
            .footerWidget__block__title О нас
            ul.footerWidget__block__nav 
                li.footerWidget__block__nav__link
                    a(href="#") О сервисе
                li.footerWidget__block__nav__link
                    a(href="#") Наша команда
                li.footerWidget__block__nav__link
                    a(href="#") Вакансии
                li.footerWidget__block__nav__link
                    a(href="#") Инвесторы
        .footerWidget__block
            .footerWidget__block__title Служба поддержки
            ul.footerWidget__block__nav 
                li.footerWidget__block__nav__link
                    a(href="#") Соглашения
                li.footerWidget__block__nav__link
                    a(href="#") Сообщества
                li.footerWidget__block__nav__link
                    a(href="#") Связь с нами
        .footerWidget__subscribe
             .footerWidget__block__title Подписка
             .footerWidget__block__text Получайте специальные предложения и новости сервиса
             form(action="#", method="get")
                +text-field("e-mail","e-mail",true)


    .footerWidget__footer
        .footerWidget__footer__copyrigth  Copyright &copy; 2018 Toxin отель. Все права зачищены
        .footerWidget__socialIcon
            a.footer__socialIcon__link(href="#")
                img(src=twitter, alt="twitter")
            a.footer__socialIcon__link(href="#")
                img(src=facebook, alt="facebook")
            a.footer__socialIcon__link(href="#")
                img(src=instagram, alt="instagram")
           
        