
table#calendar2.calendar
    thead
        tr  
            td.material-icons.calendar__arrow.calendar__arrow--prev 
            td.calendar__month.h2(colspan="5")
            td.material-icons.calendar__arrow.calendar__arrow--next 
        tr.calendar__days-week
            td.calendar__day Пн
            td.calendar__day Вт
            td.calendar__day Ср
            td.calendar__day Чт
            td.calendar__day Пт
            td.calendar__day Сб
            td.calendar__day Вс
    tbody
