.calendar
    .calendar__header
        .material-icons.calendar__arrow.calendar__arrow--prev
        .calendar__title.h2
        .material-icons.calendar__arrow.calendar__arrow--next 
    table.calendar__table#calendar2
        thead        
            tr.calendar__days-week
                td.calendar__day Пн
                td.calendar__day Вт
                td.calendar__day Ср
                td.calendar__day Чт
                td.calendar__day Пт
                td.calendar__day Сб
                td.calendar__day Вс
        tbody.calendar__content
