.calendar{
    width: 320px;
    line-height: 40px !important;
    text-align: center;
   
    &__header{
        margin-bottom:20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__arrow{
        line-height: 40px !important ;
        width: 40px;
        height: 40px;
        color:$purple-color;
        &--prev{
            &::before{
                content:"arrow_back"
            }
        }
        &--next{
            &::before{
                content:"arrow_forward"
            }
        }
    }
    &__days-week{
        font-size: 12px;
        font-weight: 700;
        height: 40px;
        line-height: 40px;
        color:$purple-color !important ;
    }
    &__table{
        margin : 0 auto;
    }
    &__day{
        width: 40px;
        height: 40px;
        font-size: 12px;
        color:$primary-color--50;

         
        
        
    }
    .selected{
        color: white;
        background: $primary-gradient;
        border-radius: 50%;
    }
    .today{
        background: linear-gradient(to bottom ,#{$green-color},#{$blue-color});
        border-radius: 50%;
        color:white;
    }
    .prevMonth,.nextMonth{
        color: $primary-color--25;
    }

}