.bullet{
    &__item{
        padding:0 0 rem(11px) rem(10px);
        line-height: 171%;
        color:$primary-color--75;
        display: flex;
        
        &::before{

            display: block;
            content: "\25CF";
            padding-right: rem(7px);
            color:$primary-color--25;
            font-size: 1.8rem;
            line-height:1.3rem;
            
        }
    }
}