.range
    .range__title стоимость номера
    .range__values:  span.range__value-from 
        
        span.range__value-to
    .range__input-wrapper.range-slide1
        span.range__bar
        input(class="range__input" type="range",min="0",max='100' step="1" name="range" value="23")
        input(class="range__input" type="range",min="0",max='100' step="1" name="range" value="90")
//- .range.range__input-wrapper.range-slide2
//-     span.range__bar
//-     input(class="range__input" type="range",min="50",max='250' step="1" name="range" value="23")
//-     input(class="range__input" type="range",min="50",max='250' step="1" name="range" value="234")