.range{
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
    outline: none !important;
    z-index: -9999 !important;
    background: none !important;
    border-style: solid !important;
    border-color: transparent !important
    
}
.irs{
    width: 266px;
    position: relative;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 60px;
   
     &-line{
        position: relative;
        display: block;
        overflow: hidden;
        outline: none !important;
        top:80%;
        height: 6px;
        box-sizing: border-box;
        border-radius: 3px;
        border: 1px solid #{$primary-color--25};

    }
    &-bar{
        position: absolute;
        display: block;
        left: 0;
        width: 0;
        top:80%;
        height: 6px;
        background: linear-gradient(to bottom, $green-color,$green-color2);
    }
    &-handle{
        position: absolute;
        display: block;
        box-sizing: border-box;
        cursor: default;
        z-index: 1;
        top:calc(80%-3px);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 2px solid white;
        background: linear-gradient(to bottom, $green-color,$green-color2);
        .type_last{
            z-index: 2;
        }
    }
    &-to,&-from{
        top:0;
    }
    &-to{
        right: 30%;
    }
    &-from{
        right: 15%;
    }



    &-min,&-max{
        position: absolute;
        display: block;
        cursor: default;      
        top:15px
    }
    &-min{
        left: 0;
    }
    &-max{
        
        right: 0;
        
    }

    &-hidden-input{
        -webkit-appearance: none;
        position: absolute !important;
        display: block !important;
        top: 0 !important;
        left: 0 !important;
        width: 0 !important;
        height: 0 !important;
        font-size: 0 !important;
        line-height: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        overflow: hidden;
        outline: none !important;
        z-index: -9999 !important;
        background: none !important;
        border-style: solid !important;
        border-color: transparent !important;
    }

}