.range
    span.range__bar
    input(class="range__input" type="range",min="0",max='100' step="1" name="range" value="")
    input(class="range__input" type="range",min="0",max='100' step="1" name="range" value="")