.range.range-slide1
    span.range__bar
    input(class="range__input" type="range",min="50",max='250' step="1" name="range" value="23")
    input(class="range__input" type="range",min="50",max='250' step="1" name="range" value="234")
.range.range-slide2
    span.range__bar
    input(class="range__input" type="range",min="50",max='250' step="1" name="range" value="23")
    input(class="range__input" type="range",min="50",max='250' step="1" name="range" value="234")