.range
    span.range__bar
    input(class="range__input" type="range",min="50",max='250' step="1" name="range" value="")
    input(class="range__input" type="range",min="50",max='250' step="1" name="range" value="")