svg.row(width='24' height='24')
    line.one(x1='0' y1='50%' x2='95%' y2='50%' stroke = 'red' stroke-width='3')
    polyline.two(points="12,0 22,12 12,24" stroke = 'red' stroke-width='3' fill='none')
