mixin checkbox(name,title)
    
    label.checkbox__label
        input.checkbox__input(type="checkbox", name=name)
        .checkbox
            .checkbox__icon
        .checkbox__title= title 
            block  
