mixin checkbox(name,title,check)
    -let strtitle=(typeof title == "string")?title:title[0]
    -let subtitle=(typeof title == "string")?false:title[1]
    .checkbox&attributes(attributes)
        label.checkbox__label
            input.checkbox__input(type="checkbox",
                                  name=name,
                                  checked = check
                                   )
            .checkbox__check
                .checkbox__icon
        .checkbox__titles        
            .checkbox__title= strtitle
            if subtitle
                .checkbox__subtitle=  subtitle
            
