.like{ 
    &__wrap{
    display: block;
    height: rem(20px);
    width:rem(40px);
    // border:0px solid transparent;
    border-radius: rem(20px)/2;
    background: $primary-color--25 ;
    padding:rem(1);
}
    &__content{   
        display: block;
        position: relative; 
        height: rem(18px);
        // width: rem(38px);     
        border-radius: rem(18px)/2;
        text-align: right;
        color:$primary-color--25;
        background-color: white;
        line-height: rem(18px);
           
    }   
    &__count{   
        display: block;
        font-size: rem(10px);  
        padding-right: rem(10px);
    }
    &__icon{
        display: block;
        position: absolute;
        font-size: rem(10px) !important;
        top:50%;
        transform: translateY(-50%);
        left: rem(5px);
        &:after{
            content:"favorite_border";           
        }
    }
    &__input{
        height: 0;
        width: 0;
        position: absolute;
        visibility: hidden;   
        &:checked+.like__wrap{         
            background: linear-gradient(to bottom,$purple-color, #8ba3f9 ) ;
            .like__content{
                color:$purple-color; 
            }
           .like__icon{
               &::after{
                   content: "favorite";              
               }
           }
         }
    }
}