mixin like(name,count)
    .like
        input.like__input.like__value(type="text", name=name)
        label.like__label   
            input.like__input(type="checkbox")
            span.like__wrap
                span.like__content
                    span.material-icons.like__icon
                    span.like__count= count