.like
    label(for='like')   
        input(type="checkbox", name="like" ,class="like__input"  id="like")
        .like__wrapper
            span.material-icons.like__icon
            span.like__count 12