mixin like(name,count)
    label.like   
        input.like__input(type="checkbox", name=name)
        .like__wrapper
            span.material-icons.like__icon
            span.like__count= count