mixin like(name,count)
    .like
        input.like__input.like__value(type="text", name=name)
        label.like__label   
            input.like__input(type="checkbox")
            .like__wrap
                .like__content
                    .material-icons.like__icon
                    .like__count= count