include ../../components/calendar/calendar
include ../../components/dropdown/dropdown
.field-dropdown.field-dropdown--date.field-dropdown--date--two
    .field-dropdown__headers
        .field-dropdown__wrap
            .form-element__header
                .form-element__title.h3 dropdown date          
            .field-dropdown__header
                input.field-dropdown__date.field-dropdown__date--one(type="text" name="date1" placeholder="dd:mm:YYYY")
                i.material-icons.field-dropdown__icon
        .field-dropdown__wrap
            .form-element__header
                    .form-element__title.h3 dropdown date  
            .field-dropdown__header
                input.field-dropdown__date.field-dropdown__date--two(type="text" name="date2" placeholder="dd:mm:YYYY")
                i.material-icons.field-dropdown__icon
    .field-dropdown__content 
        +calendar(true)
        .field-dropdown__content-footer
            button(type="reset").h3.cancel Очистить
            button(type="submit").h3.assept Применить  