include ../../components/calendar/calendar
.field-dropdown.field-dropdown--date.field-dropdown--date-filter
    .field-dropdown__header
        .field-dropdown__datewrap
            span.field-dropdown__date.field-dropdown__date--one
            input.field-dropdown--date-filter__input(type="text" placeholder="dd.mm" name="date1" value="")
            span  &nbsp-&nbsp  
            span.field-dropdown__date.field-dropdown__date--two
            input.field-dropdown--date-filter__input(type="text" placeholder="dd.mm" name="date2" value="")
        i.material-icons.field-dropdown__icon
    .field-dropdown__content 
        +calendar(true)
        .field-dropdown__footer
            button(type="reset").h3.cancel Очистить
            button(type="submit").h3.assept Применить  