include ../../components/calendar/calendar
.field-dropdown.field-dropdown--date
    .field-dropdown__header
        input.field-dropdown__date.field-dropdown__date--one(type="text" placeholder="dd.mm.yyyy" name="")
        i.material-icons.field-dropdown__icon
    .field-dropdown__content 
        +calendar(true)   
        .field-dropdown__content-footer
            button(type="reset").h3.cancel Очистить
            button(type="submit").h3.assept Применить