.avatar{
    display:flex;
    align-items: flex-start;
    &__img{
        @include size(rem(48));
        display: flex;
         img{
            margin:auto;
        }
        
    }

    &__titles{
        padding-left: rem(10);
        color: $primary-color--75;
    }
    &__title{
        font-weight: bold;
    }
}