
.toggle
    
    label(for='toggle')   
        input(type="checkbox", name="" ,class="toggle__input" checked id="toggle")
        .toggle__wrapper
    
            .toggle__icon
    .toggle__text accept