.toggle{  
    display: flex;
    &__switch{
        position: relative;
        box-sizing: border-box;
        margin:auto 0;
        height: rem(20px);
        width: rem(40px);
        border: 1px solid #{$primary-color--25};
        border-radius: rem(10px);
    }    
    &__icon{
        @include size(rem(12));
        background: $primary-color--25;
        border-radius: 50%;
        position: absolute;
        top:50%;
        left: rem(4px);
        transform: translateY(-50%)           
    }
    
    &__input{
        height: 0;
        width: 0;
        position: absolute;           
        &:checked~.toggle__switch{
                border-color:$purple-color;                        
             .toggle__icon{
            background: $primary-gradient ;
            left: rem(22px);
            }
        }
    }
    &__title{
        columns: $primary-color--75;
        padding-left: rem(10px);

    }
}
