include /components/calendar/calendar.pug
<!DOCTYPE html>
html.html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title cards
    body.main
        .wrapper
            include /blocks/header/header.pug 
            .wrapper-cards   
                section.column    
                    include /blocks/cards/roomselect/roomselect
                    include /blocks/cards/registration/registration
                section.column 
                    include /blocks/cards/pricing/pricing.pug
                    include /blocks/cards/login/login
                section.column
                    .card.card-calendar
                        +calendar()
