include /blocks/header/header.pug 
include /components/calendar/calendar.pug
include /blocks/cards/pricing/pricing.pug
include /blocks/cards/card-room/card-room
-let rooms = require("../src/data/data.json").rooms
<!DOCTYPE html>
html.html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title cards
    body.main
        +header() 
        .wrapper.wrapper-cards   
            section.column    
                include /blocks/cards/roomselect/roomselect
                include /blocks/cards/registration/registration
            section.column 
                +pricing(rooms.room888)
                include /blocks/cards/login/login
            section.column
                .card.card-calendar
                    +calendar()   
                +cardRoom(getImgs(rooms.room888.number,rooms.room888.imgcount),rooms.room888)
                +cardRoom(getImgs(rooms.room840.number,rooms.room840.imgcount),rooms.room840)
               
