include /components/calendar/calendar.pug
include /blocks/cards/card-room/card-room
-let imgs =[require("./img/rooms/1.jpg"),require("./img/rooms/2.jpg"),require("./img/rooms/3.jpg"),require("./img/rooms/4.jpg")]
-let room888 ={imgs:imgs,number:"888",price:"9900",rate:"5",rateRoom:"5",review:"145"};
    

<!DOCTYPE html>
html.html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title cards
    body.main
        .wrapper
            include /blocks/header/header.pug 
            .wrapper-cards   
                section.column    
                    include /blocks/cards/roomselect/roomselect
                    include /blocks/cards/registration/registration
                section.column 
                    include /blocks/cards/pricing/pricing.pug
                    include /blocks/cards/login/login
                section.column
                    .card.card-calendar
                        +calendar()
                    //- +cardRoom(imgs,["888","9 900"],["5","5"],["145"])
                    +cardRoom(room888)
