include blocks/form-elem/form-elem.pug
include components/text-field/text-field.pug
include components/checkbox/checkbox.pug
include components/range/range.pug
include components/dropdown/dropdown.pug
include components/counter/counter.pug
include components/radiobutton/radiobutton.pug
include components/toggle/toggle.pug


doctype html
html
    head
        title forms
    body.main.main--form
        .wrapper.wrapper--form 
            section.column  
                +form-elem("text field","default hover/focus")
                    +text-field("email")
                +form-elem("dropdown","default")
                   include blocks/dropdown-counter-list/dropdown-counter-list.pug
                    
                        
                            
                    
            section.column
                form(action="",method='get' name= "")
                    +form-elem("checkbox button")
                        +checkbox("smoking","Можно курить")
                        +checkbox("pets","Можно с питомцами")
                        +checkbox("guests","Можно пригласить гостей (до 10 человек)")
                    +form-elem("radio button")(class="form-element--radiobutton")
                        +radiobutton(["Мужчина","Женщина"],"sex")
                    +form-elem("toggle")
                        +toggle("offers","Получать спецпредложения")
                            
            section.column
                 form(action="",method='get' name= "")
                    +range("range-slider","range",0,15000,1000,5000,10000)
