include blocks/form-elem/form-elem.pug
include components/text-field/text-field.pug
include components/checkbox/checkbox.pug
include components/range/range.pug
include components/dropdown/dropdown.pug
include components/counter/counter.pug
include components/radiobutton/radiobutton.pug
include components/toggle/toggle.pug
include components/likeButton/likeButton.pug
include components/rate/rate.pug


doctype html
html
    head
        title forms
    body.main.main--form
        .wrapper.wrapper--form 
            section.column  
                +form-elem("text field","default hover/focus")
                    +text-field("email")(class="input-email")
                +form-elem("dropdown","default")
                   include blocks/dropdown-counter-list/dropdown-counter-list.pug
                
                +form-elem("dropdown")
                    include blocks/dropdown-counter-plus/dropdown-counter-plus.pug
                +form-elem("filter date dropdown")
                    include blocks/dropdown-date/dropdown-date-filter.pug            
                        
                            
                    
            section.column
                form(action="",method='get' name= "")
                    +form-elem("checkbox button")
                        +checkbox("smoking","Можно курить")
                        +checkbox("pets","Можно с питомцами")
                        +checkbox("guests","Можно пригласить гостей (до 10 человек)")
                    +form-elem("radio button")(class="form-element--radiobutton")
                        +radiobutton(["Мужчина","Женщина"],"sex")
                    +form-elem("toggle")
                        +toggle("offers","Получать спецпредложения")
                    +form-elem("like button")(class="form-element--like")
                        +like("like",2)
                        +like("like",12)
                    +form-elem("rate button")
                        +rate(5,3)
                        +rate(5,0,"room-39")
                    +form-elem("rich checkbox buttons")
                        +checkbox("corridor","Широкий коридор","Ширина коридора в номере не менее 91 см")(class='checkbox--rich')
                        +checkbox("assistent","Помошник для инвалидов","На 1 этаже вас встретит специалист и проводит до номера.")(class='checkbox--rich')
            section.column
                
                 form(action="",method='get' name= "")
                    +form-elem()
                        +range("range-slider","range",3000,16000,100,5000,10000)
