doctype html

html
  head
    title test
  body
    .wrapper

      //- include /components/likeButton/likeButton.pug
      //- include /components/button/button.pug
      //- include /components/form/field-dropdown.pug
      //- include /components/form/field-text.pug
      //- include /components/rate/rate.pug
      //- include /components/toggle/toggle.pug
      include /components/checkbox/checkbox.pug 
      //- include /components/radiobutton/radiobutton.pug
      //- include /components/range/range.pug

