doctype html

html
  head
    title test
  body.main
    .wrapper

      //- include /components/likeButton/likeButton.pug
      //- include /components/button/button.pug
      //- include /components/form/field-dropdown.pug
      //- include /components/form/field-text.pug
      //- include /components/rate/rate.pug
      //- include /components/toggle/toggle.pug
      //- include /components/checkbox/checkbox.pug 
      //- include /components/radiobutton/radiobutton.pug
      //- include /components/range/range.pug
      //- include /components/counter/counter.pug
      //- include /components/calendar/calendar.pug
      include /components/pagination/pagination.pug
      //- .h1 Заголовок 1
      //- .h2 Заголовок 2
      //- .h3 Заголовок 3
      //- include blocks/dropdown-date/dropdown-date-range.pug
      //- +checkbox("check1","ter")
      //- +btn("принять")(class="button--arrow")
      //- +calendar()
      //- +counter("Детей","childs")
      //- +range("Стоимость","price",0,100,5,20,50)
      //- +rate(5,2,true,"rate-nuber")
      //- +radiobutton(["Мужчина","Женщина"],"sex")
