include /components/button/button.pug
include /blocks/header/header.pug

-let linkFormElem = "form.html"
-let linkCards = "cards.html"
<!DOCTYPE html>
html.html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title aref
    body.body.body--landing
        +header()
        .wrapper.wrapper--landing
            include /blocks/cards/roomselect/roomselect

        include /blocks/footer/footer-widget