include /components/button/button.pug
-let linkFormElem = "form.html"
doctype html
html
  head
    title test
  body.main
    .wrapper
      nav.nav-test
        .nav-test__item
          +btn("form element",linkFormElem)(class="button--gradient button--arrow")