include /components/button/button.pug
-let linkFormElem = "form.html"
-let linkCards = "cards.html"
<!DOCTYPE html>
html.html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title aref
    body
      .wrapper
        include /blocks/header/header.pug
        nav.nav-test
          .nav-test__item
            +btn("form element",linkFormElem)(class="button--gradient button--arrow")
          .nav-test__item
            +btn("cards",linkCards)(class="button--gradient button--arrow")
        include /blocks/footer/footer