include /blocks/header/header.pug
<!DOCTYPE html>
html.html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title aref
    body
      +header()
      .wrapper.wrapper-singleform
        include /blocks/cards/registration/registration.pug
      include /blocks/footer/footer-widget