include /components/button/button.pug
include /blocks/header/header.pug
include blocks/form-elem/form-elem.pug
include blocks/dropdown-date/dropdown-date-two.pug
include components/range/range.pug
include components/checkbox/checkbox.pug
include components/avatar/avatar.pug
include components/dropdown/dropdown.pug
include /blocks/cards/card-room/card-room
include components/pagination/pagination.pug

-let rooms = require("../src/data/data.json").rooms

<!DOCTYPE html>
html.html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Найти номер
    body.body.body--landing
        +header()
        .wrapper.wrapper--roomsearch
            section.filterroom
                .filterroom__items
                    .filterroom__item.filterroom__item--input
                        +form-elem("Даты пребывания в отеле")
                            include blocks/dropdown-date/dropdown-date-filter.pug 
                    .filterroom__item
                        +form-elem("Гости")
                            include blocks/dropdown-counter-plus/dropdown-counter-plus.pug
                    .filterroom__item
                        +range(["Диапазон цены","Стоимость за сутки пребывания в номере"],"range",3000,16000,100,5000,10000)
                    .filterroom__item.filterroom__item--checkbox
                        +form-elem("checkbox button")
                            +checkbox("smoking","Можно курить")
                            +checkbox("pets","Можно с питомцами")
                            +checkbox("guests","Можно пригласить гостей (до 10 человек)")
                    .filterroom__item.filterroom__item--checkbox
                        +form-elem("Доступность")
                            +checkbox("corridor",["Широкий коридор","Ширина коридора в номере не менее 91 см"])(class='checkbox--rich')
                            +checkbox("assistent",["Помощник для инвалидов","На 1 этаже вас встретит специалист и проводит до номера."])(class='checkbox--rich')
                    .filterroom__item
                        +form-elem("Удобства номера")
                            include blocks/dropdown-counter-list/dropdown-counter-list.pug
                    .filterroom__item.filterroom__item--checkbox.filterroom__item--expchecklist
                            +dropdown("Дополнитьньные удобства",false)
                                +checkbox("breackfast","Завтрак")
                                +checkbox("desk","Письменный стол",true)
                                +checkbox("feeding chair","Стул для кормления",true)      
                                +checkbox("child's bed","Кроватка",true)    
                                +checkbox("tv","Телевизор") 
                                +checkbox("shampoo2","Шампунь")
                                +checkbox("tv2","Телевизор")      
                                +checkbox("shampoo","Шампунь")
                            

                .filterroom__drop
                    .filterroom__drop__item
                    .filterroom__drop__item
                    .filterroom__drop__item
                    
            section.roomsearch__rooms
                h1.h1.roomsearch__rooms__header Номера которые мы для вас подобрали
                .roomsearch__rooms__items
                    each val in rooms
                        .roomsearch__rooms__item
                            +cardRoom(getImgs(val.number,val.imgcount),val)
            
                .roomsearch__rooms__pagination        
                    +pagination([15,1,1],"1 – 12 из 100+ вариантов аренды")  
                
                

        include /blocks/footer/footer-widget