.wrapper-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .column{
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card{
        margin-bottom: rem(50);
        
    }
    .card-room{
        max-width: rem(380);
    }
}