
.wrapper--form{
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;

}
.column{
    width: 30%;
    min-width: 386px;
    margin: 0 auto;
}
.form{
    &__advantage{
        display: flex;

        // justify-content: center;
        height: 100px;
        &__content{
            margin:10px 33px;
            display: flex;
            align-items: center;   
            border-bottom:1px solid  #{$primary-color--25};

        }
    }
    &__review{
        width: 60%;
        &__down{
            display: flex;
            margin-top: rem(10)
        }
        &__like{
            min-width: rem(48px);
            .like{
                margin:0 auto;
            }
        }
        &__text{
            padding-left: rem(10)
        }
    }
}