
.wrapper--form{
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    .form-element{
        margin: rem(20) rem(33);
    }

}
.column{
    width: 30%;
    min-width: rem(386);
    margin: 0 auto;
    @media screen and (max-width: $desktopWidth){
        width: 50%;
        
    }
    @media screen and (max-width: $tableWidth ){
        width: 100%;
        min-width: 0;
    }
}
.form{
    &__advantage{
        display: flex;

        // justify-content: center;
        height: 100px;
        &__content{
            margin:10px 33px;
            display: flex;
            align-items: center;   
            border-bottom:1px solid  #{$primary-color--25};

        }
    }
    &__review{
        @media screen and (max-width: $desktopWidth){
            margin: rem(20) rem(33);
        }
        width: 60%;

        &__down{
            display: flex;
            margin-top: rem(10)
        }
        &__like{
            min-width: rem(48px);
            .like{
                margin:0 auto;
            }
        }
        &__text{
            padding-left: rem(10)
        }
    }
}