@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "../components/button/button.scss";
//src\components\button\button.scss

.test{
  text-align: center;
  font-family: $headersFont;
  font-weight: bold;
  font-size: 14px;
}

