include ../../components/button/button.pug
-let auth = false;
//- -let auth = true;

-let companyName= require("./img/svg/TOXIN.svg");
//- -let smile= require("./img/smile.svg")

header.header
    include ../../components/logotype/logotype.pug
        
    nav.header__nav
        ul.header__nav__items
            li.header__nav__item.header__nav__item--active
                a(href="./index.html") Home
            li.header__nav__item
                a(href="#") About Us
            li.header__nav__item.submenu Элементы
                ul.submenu__items
                    li.submenu__item
                        a(href="./form.html") Элементы форм
                    li.submenu__item 
                        a(href="./cards.html") Карточки
                    li.submenu__item 
                        a(href="#") lorem
            li.header__nav__item
                a(href="#") Careers
            li.header__nav__item
                a(href="#") News
            li.header__nav__item
                a(href="#S") Documetation
    if auth
        .header__userName Cosmin Negoita
    else
        .header__auth
            +btn("login","./login.html")(class="button--border")
            +btn("registration","./registration.html")(class="button--gradient")
