include ../../components/button/button.pug
-let auth = true;

-let companyName= require("./img/svg/TOXIN.svg");
//- -let smile= require("./img/smile.svg")

header.header
    include ../../components/logotype/logotype.pug
        
    nav.header__nav
        ul.header__nav__items
            li.header__nav__item.header__nav__item--active
                a(href="./index.html") Home
            li.header__nav__item
                a(href="./form.html") About Us
            li.header__nav__item.submenu Services 
                ul.submenu__items
                    li.submenu__item
                        a(href="") lorem
                    li.submenu__item 
                        a(href="") lorem
                    li.submenu__item 
                        a(href="") lorem
                    li.submenu__item 
                        a(href="") lorem
                    li.submenu__item 
                        a(href="") lorem
            li.header__nav__item
                a(href="./cards.html") Careers
            li.header__nav__item
                a(href="") News
            li.header__nav__item
                a(href="") Documetation
    if auth
        .header__userName Cosmin Negoita
    else
        .header__auth
            +btn("login","#")(class="button--border")
            +btn("registration","#")(class="button--gradient")
