.header{
    display: flex;
    min-height: rem(70);
    justify-content: space-between;
    padding:rem(15) rem(140);
    max-width: $maxWidth;
    margin: 0 auto;
   
    @media screen and (max-width: $desktopWidth) {
        padding:rem(20) rem(70);
        flex-wrap: wrap;
        justify-content: space-around;
      }      
    @media screen and (max-width: $tableWidth ){
        align-items: flex-start;
        justify-content: space-between;
    }

    &__wrapper{
        background-color: white;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

    }
    .logotype{
        @media screen and (max-width: $phoneWidth ){
            flex-grow: 1;
            margin: rem(10) auto;
            justify-content: center;
        }
    }
    &__nav{
        display: flex;
        margin:auto 0;
        flex-grow: 1;
        @media screen and (max-width: $desktopWidth){
            order:-1;
            flex-basis: 100%;
            padding-bottom:rem(15);
        }
        @media screen and (max-width: $tableWidth ){
            display: none;
        }

        &__items{
            display: flex;
            margin:0 auto;
        }
        &__item{
            
            margin-right:rem(30);

            color:$primary-color--50;
            &--active{
                color:$primary-color--75;
                font-weight: bold;
            }
        }
        a{
            color: inherit;
        }

    }
    &__auth{
        // line-height: rem(70);
        @media screen and (max-width: $tableWidth ){
            display: none;
        }
        .button:first-child{
            margin-right: rem(20);
        }
    }
    &__userName{ 
        @media screen and (max-width: $desktopWidth){
        }      
        margin: 0;
        padding-left: rem(30px);
        color:$primary-color--50;
        border-left: 1px solid rgba(31, 32, 65, 0.1)
    }

    &__phonemenu{

        display:none;
        margin:auto 0;
        position: relative;
        flex-grow: 1;

        @media screen and (max-width: $tableWidth ){
            display: block;
            order:-1;
        }

        a{
            color:inherit;
        }
        &__gamb{
            height: 40px;
            transition: height  .5s;
            overflow: hidden;
        }
        &__input{
            position: absolute;
            top:0;
            left:0;
            opacity: 0;
            width: 100%;
            height: 100%;
            // visibility: hidden;   
                &:checked~.header__phonemenu__gamb{
                   height: 0;
                }
                &:checked~.header__phonemenu__nav{
                    display: block;
                    max-height: 300px;
                    opacity: 1;
                    position: relative;
                    border:1px solid $primary-color--25;
                }
        }
        &__nav{
            display: none;
            flex-wrap: wrap;
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition-property:opacity,max-height;
            transition-duration: .5s;
            border:1px solid $primary-color--25;
            margin-right: rem(10);

            &__item{
                padding: 2px 20px;
                border-bottom: 1px solid $primary-color--25;
                
                // border-radius: 4px;
              
            }
            &__close{
                position: relative;
                margin: rem(8) rem(3) rem(3) rem(10);
                @include size(14px);
                &::after,&::before{
                    content: "";
                    position: absolute;
                    width: calc(100%);
                    left:0; 
                    height: rem(2);
                    background-color: $primary-color--50;
                }  
                &::after{
                    transform:  rotate(45deg);
                }
                &::before{
                    transform:  rotate(-45deg);
                }
            }
        }
        &__auth , &__userName{
            margin-top:rem(4);
            display: flex;
            justify-content: flex-end;
            width: 100%;

        }
        &__auth>*:not(:last-child){
            padding-right: 10px;
        }
        &__submenu{
            &__item{
                
                padding-bottom: 2px;
                padding-left: 9px;
            }
        }

    }
    .submenu{
        
        position: relative;
        
        &::after{
            // position: absolute;
            // font-family: "Material Icons";
            // content:"expand_more";
            // top:0;
            // right: 0;
            // transform:translateX(100%) translateY(5%)
            content:"";
            border:solid 1.5px #{$primary-color--50};
            @include size(rem(7));
            position: absolute;
            right: 0;
            top:0;
            border-top: 0;
            border-left:0;
            transform: translate(200%,100%) rotate(45deg)  ;
          

        }
        &:hover .submenu__items{
            max-height: 300px;
        }
        &__items{
            
            position:absolute;
            overflow: hidden;
            top: 100%;
            left:calc(100%+#{rem(7)});
            transition: max-height .5s;
            max-height: 0px;
            z-index: 100;
            // background-color: white;
            
            
            
        }
        &__item{
            margin: rem(3) rem(5);
            padding: rem(2) rem(7);
            background-color: white;
            box-shadow: 0 0 rem(3) rgba(0, 0, 0, 0.2);
            border-radius: rem(4);
        }
    }
    .button{      
        display: inline-block;
        width: auto;
    }
    .button__title{
        padding: 0 rem(20);
    }
    

}