mixin text-field(placeholder,arrow)    
    .field-text
        input(class= 'field-text__input-text' type="text"  placeholder=placeholder)&attributes(attributes)
        if arrow
            button(class="material-icons field-text__icon ")