
.field-text{
    position: relative;    
    height: rem(40px);              
    &__input-text{
        width:100%;
        padding-left:rem(10px);     
        height: 100%;
        border-radius:rem(4px); 
        border: 1px solid #{$primary-color--25};
        @include  placeholder{
            color: $primary-color--25;              
            };
            &:hover,&:focus{                   
                border: 1px solid #{$primary-color--50};            
            };
            &:hover{
                @include  placeholder{               
                    color: $primary-color--75;  
                }
            }
            &:focus{
                @include  placeholder{             
                    color: transparent;
                }     
            }
        }     
    &__icon{
        position: absolute;
        top:calc(50%-12px);
        right: 10px;
        color: $purple-color;
        &:after{
            content:'arrow_forward';
        }   
    }
}