
.field-text{
    position: relative;    
    height: 40px;      
    font-size: 14px;    
    font-family: $mainFont;    
    &__input-text{
        
        width:100%;
        padding-left:10px;     
        height: 100%;
        border-radius: 4px; 
        border: 1px solid #{$primary-color--25};
        @include  placeholder{
            color: $primary-color--25;
            font-family: $mainFont;               
            };
            &:hover,&:focus{                  
                height: 100%;
                border-radius: 4px; 
                border: 1px solid #{$primary-color--50};            
            };
            &:hover{
                @include  placeholder{               
                    color: $primary-color--75;
                    font-family: $mainFont;    
                }
            }
            &:focus{
                @include  placeholder{             
                    color: transparent;
                }     
            }
            
        }   
    
  
    &__icon{
        position: absolute;
            top:calc(50%-12px);
            right: 10px;
            color: $purple-color;
            &:after{
                content:'arrow_forward';
            }   
            }
          
            
    


}