mixin roomprice(number,price,category)
    .roomprice
        .roomprice__number 
            span.roomprice__simb № 
            span.roomprice__number--big=number+" "
            if category
                span.roomprice__category=category
        .roomprice__price
            span.roomprice__sum=price 
                |&#8381; 
            span.roomprice__day в сутки