mixin roomprice(number,price)
    .roomprice
        .roomprice__number 
            span.roomprice__simb № 
            span.roomprice__number--big=number+" "
            span.roomprice__category люкс
        .roomprice__price
            span.roomprice__sum=price 
                |&#8381; 
            span.roomprice__day в сутки