include ../../../blocks/dropdown-date/dropdown-date-two.pug
include ../../../blocks/form-elem/form-elem.pug
include ../../../components/button/button.pug
.card.card-roomselect
    form(action="", method="get")
        .card__item
            .card__title.h1 Найдём номера под ваши пожелания
        .card__item   
            +dateTwo(["date-arrival","date-departure"],["прибытие","выезд"])
        .card__item
            +form-elem("Гости")
                include ../../../blocks/dropdown-counter-plus/dropdown-counter-plus.pug
    .card__footer
        +btn("Подобрать номер","./roomsearch.html")(class="button--gradient button--arrow")
        