.arrow-alt2 a:before {
    left:8px;
    width:7px;
    height:7px;
    border-width:0 3px 3px 0;
    border-style:solid;
    border-color:#c55500;
    margin-top:-5px;
    background:transparent;
    /* css3 */
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

.arrow-alt2 a:after {
    left:3px;
    width:13px;
    height:4px;
    margin-top:-2px;
    background:#c55500;
}

li {
    position:relative;
    z-index:1;
    overflow:hidden;
    list-style:none;
    padding:0;
    margin:0 0 0.25em;
}

li:before,
li:after,
li a:before,
li a:after {
    content:"";
    position:absolute;
    top:50%;
    left:0;
}

li a:before,
li a:after {
    margin:-8px 0 0;
    background:#c55500;
}

li a:hover:before,
li a:focus:before,
li a:active:before {
    background:#730800;
}
li a:link, li a:visited {
    display: block;
    border: 0;
    padding-left: 28px;
    color: #c55500;
}