.form-element{
    
    &__header{
        line-height: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
    }
    &__subtitle{
        color:$primary-color--50;
        text-transform: uppercase;
        font-size:0.85em;
    }
    &--toogle, &--like,&--pagination{
        .form-element__header{
            padding-bottom: rem(15);
        }
    }
    &--radiobutton{
            .form-element__header{
                padding-bottom: rem(15);
            }
         .form-element__content{
            display:flex;
            .radiobutton{
                margin-left:10px;
            }
        }
    }
    &--bullet{
        width: 290px;
    }
    &__button{
        display: flex;
        justify-content: space-evenly;
        margin: 20px auto;
        .button{
            margin:0 20px;
        }
    }
    &__counter{
        .counter{
            margin-top: rem(10px);
        }
    }
    &__expCheckList{
        .form-element__header{
            padding-bottom: 0;
        }
        .field-dropdown{
            border:0;
            &__title{
                font-weight: 700;
                text-transform: uppercase;
                font-size: 12px;               
            }
            &__content{
                border:0
            }
            
        }
        .checkbox{
            width: 100%;
            padding-bottom: rem(10);
        }
    }
    &--checkbox{
        .form-element__header{
            padding-bottom:rem(15);

        }
        .checkbox{
            padding-bottom: rem(10);
        }
    }
    &__like{
        
         display: flex;
             .like{
                margin:0 10px;
            }
     }
    
}