.form-element{
    
    margin: 10px 33px;
    &__header{
        line-height: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
    }
    &__subtitle{
        color:$primary-color--50;
        text-transform: uppercase;
        font-size:0.85em;
    }
    &--radiobutton{
         .form-element__content{
            display:flex;
            .radiobutton{
                margin-left:10px;
            }
        }
    }
    &__button{
        display: flex;
        justify-content: space-evenly;
        margin: 20px auto;
    }
    &--like{
        //  display: flex;
             .like{
                margin-top: 10px;
            }
        
    }
}